<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-MQ5BMMJ\SQLEXPRESS;Initial Catalog=My_Catering;User ID=sa;Password=buzhidaoa0523" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>