<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-5FF933V\SQLEXPRESS;Initial Catalog=My_Catering;User ID=sa;Password=lzx199902$;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>